name: CI

on:
  push:
    branches: [ main, migrate-to-github-actions ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.14'

      - name: Cache Poetry dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pypoetry
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry
        run: pip install poetry==1.8.3

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.in-project true
          poetry config cache-dir ~/.cache/pypoetry

      - name: Install dependencies
        run: poetry install --with lint

      - name: Run ruff linter
        run: poetry run ruff check

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.14'

      - name: Cache Poetry dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pypoetry
            .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry
        run: pip install poetry==1.8.3

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.in-project true
          poetry config cache-dir ~/.cache/pypoetry

      - name: Install dependencies
        run: poetry install --with test

      - name: Run pytest
        run: poetry run pytest
